/*resets*/
* {
    box-sizing: border-box;
}

*:after,
*:before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 28px/1.571 'Poppins', Arial, sans-serif;
}

.wrapper {
    width: 100%;
    position: relative;
    overflow:hidden; 
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    max-width:1220px;
    margin-left: auto;
    margin-right: auto;   
    }

.footer-nav a 
/* second style of doing clearfix */
.container:after {
    content: '';
    display: block;
    clear: both;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    margin: 0 0 20px;
    line-height: 1.21;
}

h1 {
    font-size: 38px;font-size: 38px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

h2 {
    font-size: 86px;
    line-height: 1.04;
    letter-spacing: 3px;
}

a {
    color: white;
    text-decoration: none;
}

p {
    margin: 0 0 25px;
    color:#666666;
    letter-spacing:0.06em;
}
li{
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
ul{
    padding-left:0;
}
span.small{
    font-size:16px;
}
span.medium{
    font-size:20px;
}
/*main global ends*/
/*custom styling*/
.heading-info{
    color:#303030;
    font-size:18px;
    line-height: 2.44;
    font-weight:600;
    display:block;
    text-transform: uppercase;
    margin-bottom: 24px;
    letter-spacing: 0.2em;
}

.content-wrapper{
    padding: 97px 0;
    max-width: 100%;
    

} /*spacing between sections*/

.team .content-wrapper-col:after {
    content: "";
    display: table;
    clear: both;
}

/*nav*/
.header{  
    color:white;
    position: absolute;
    left:0;
    right:0;
    top:33px; 
    z-index:1;
}
/*containers*/
.wrapper{
    max-width:1880px;
    margin:auto;
    
}
.small{
    text-align: center;
}
.header .icons{
    font-size:15px;
}
/*banner*/
.banner{
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:white; 
    position: relative;
}
.banner-text{
    height: 718px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-text h1{
    padding-top:51px;
    max-width: 60%;
}
.navigation{
    position: absolute;
    bottom:-5px;
    left:0;
    right:0;
    text-align: center;
}
.navigation .nav li{
    display:inline-block;
    list-style: none;
    padding: 0 23px;
    text-transform: uppercase;
    color:white;
}
.navigation .nav a{
    font-size:16px;
    letter-spacing: 0.12em;
}

/*intro-text*/
.intro-text .content-wrapper{
    max-width:70%;
    margin:auto;
}
.intro-text{
    text-align:center;
}
.intro-text .article-text .heading-info{
 padding:0 0 0 0;
 margin-bottom: 24px;
}
.intro-text p{
    max-width: 659px;
    margin:auto;
    font-weight:300;
}


/*ideology section*/
.ideology-section{
    overflow:hidden;
}
.ideology-section .content-wrapper:after {
    content: "";
    display: table;
    clear: both;
  }


.ideology-section .left-col{
    width:43%;
    float:left; 
    position:relative;
}

    .ideology-section .left-col:after {
        content: "";
        display: table;
        clear: both;
    }

    .ideology-section .left-col-content{
        font-size: 43px;
        font-weight:600;
        padding:0 10px;
        margin-top: 336px;
        line-height: 1.2;
        max-width: 59%;
        float:right;
    }
    
    .ideology-section .heading-info, .team .heading-info{
        margin-top: 22px;
        margin-bottom: 14px;
    }
    
    
    .left-col-content p{
        color:black;
        font-size:58px;

    }
    .ideology-section .image{
        position:absolute;
        z-index: -1;
        top: -90px;
        left: -10px;
    }


.ideology-section .right-col{
    float:left;
    text-transform: uppercase;
    width:57%;

}
    .ideology-section .right-col span{
        color:#e98457
    }
.ideology-section .article{
    padding-left: 30px;
}


/*team-section*/
.team .article{
    text-transform: uppercase;  
}
/*please not the design has less padding bottom on fthe heading- info*/
.team .content-wrapper{
    padding-top: 51px;
}
.team .team-information .article{
    margin-right: -208px;
    margin-left: -58px;
    padding-right:10px;
    padding-left:10px;
}

#cross{
    visibility: hidden;
}

.team .team-contents .icons a{
    color:black;
}

.team-contents{
    overflow:hidden;
    display: flex;
    justify-content: space-around;
}
.team-contents .col{
    float:left;
    max-width:33.33%;
}

.team-contents .col:hover{
    background-color: #1bf1ad;
    color:white;
}
.team .article h2{
    padding-right: 90px;
}
.team-contents .col .image{
    float:left;   
}
.team-contents .col-wrap{
    padding: 24px 45px 27px 44px;
    overflow: hidden;
}
.team-contents .col .information{
    float:left;
    padding-left: 23px;
    margin-top:-2px;
}
.team-contents{
    margin: 24px -68px;
    overflow:hidden;
}
.team-contents .icons{
    margin:0 0 0 0;
    padding:0;
}
.team-contents .icons li{
    display:inline-block;
    padding-right:12px;
}
.team-contents .icons li a{
    color:black;
}
.team-contents .icons li a:hover{
    color:white;
}
.team-contents .name{
    display:block;
}

.team-contents .position{
    display:block;
}
    

/*our work*/

.work .content-wrap{
    padding-top:100px;
}
.work .article{
    text-align:center;
}

    /*our work carousel*/
.work .carousel:after {
    content: "";
    display: table;
    clear: both;
    }


.work .carousel{
    display:flex;
    justify-content: space-around;
    margin: 74px -277px;
}   


/*footer*/

footer .content-wrap{
    padding:115px 0; 
}

footer .content-wrap:after{
    content: "";
    display: table;
    clear: both;
}
footer .contact-text, footer .footer-logo{
    display:inline-block;
    vertical-align: middle;
}

footer a{
    color:black;
}
footer nav li{
    display:inline-block;
    text-transform:uppercase;
}
footer nav{
    padding-top: 27px;
}

footer nav a{
    font-size:14px;
    letter-spacing: 2px;
    padding-right:37px;
}
footer nav, footer .r-col{
    font-size: 14px;
}
footer .l-col{
    float:left;
    max-width:70%;
}

footer .l-col .contact-text, footer .l-col .headline a{
    font-size:20px;
}

footer .r-col{
    float:right;
    max-width:30%;
}

footer .footer-logo{
    padding: 16px 21px 0 19px;
    border:1px solid black;
    margin-right:63px;   
    display:inline-block;
    padding:16px 28px 0px 25px;
}

.headline .contact-text{
    font-size:20px;
    font-weight: bold;
    letter-spacing: 2px;
}

footer .r-col aside ul {
    margin: 19px 0 35px 0;
}

footer .r-col .icons li{
    display:inline-block;
}

footer aside{
    margin-right: -13px;
}
footer .contact-phone, footer .contact-info{
    display:block;
}

footer .r-col .contact-phone{
    padding-bottom: 10px;
}















/*responsive*/

@media (max-width:1919px){
    
    .ideology-section .left-col-content {
        margin-top: 398px;
    }
    h2{
        font-size:68px;
    }
    .left-col-content p {
        color: black;
        font-size: 45px;
    }
    .ideology-section .left-col-content {
        margin-top: 300px;
    }
    .work .carousel{
        margin: 74px -103px;
    }
    footer .r-col aside ul {
        margin: 19px 0 26px 0;
    }  
    .content-wrapper {
        padding: 70px 0;
        max-width: 100%;
    } 
    
    .ideology-section .article{
        margin-top: -54px;
    }
    .work .content-wrap {
        padding-top: 22px;
    }
    footer .content-wrap {
        padding: 57px 0;
    }
    
}


@media (max-width:1439px){
    body {
        margin: 0;
        font: 22px/1.571 'Poppins', Arial, sans-serif;
    }
    
    h2{
        font-size:57px;
    }
    .left-col-content p {
        color: black;
        font-size: 38px;
    }

    .ideology-section .left-col-content {
        margin-top: 246px;
    }
    .team-information h2{
        padding-right: 90px;
    }
    .work .carousel {
        margin: 74px -98px;
    }
    .team .team-information .article {
        margin-right: -181px;
        margin-left: -12px
    }
    .work .article h2{
        margin-right:3px;
    }
    .work .carousel {
        margin: 73px 8px;
    }
    .work .carousel .image{      
    padding: 0 13px;
    }
    footer aside {
        margin-right: 26px;
    }
    footer .l-col {
        padding-left: 6px;
    }
    footer nav a {
        font-size: 12px;
    }
    .intro-text .content-wrapper {
        max-width: 48%;
    }
    footer .r-col aside ul {
        margin: 13px 0 26px 0;
    }
    .team .content-wrapper {
        padding-top: 11px;
    }
}

@media (max-width:1239px){

    body{
        font-size:19px;
    }
    h2{
        font-size:47px;
    }
    .banner-text h1 {
        padding-top: 51px;
        max-width: 82%;
    }
    .left-col-content p {
        color: black;
        font-size: 31px;
    }

    footer nav a {
        font-size: 14px;
        letter-spacing: 2px;
        padding-right: 25px;
    }
    footer nav a {
        font-size: 12px;  
    } 

    footer nav, footer .r-col {
        font-size: 12px;
    }
    .team .team-information .article {
        margin-right: -57px;
    }
    .team-information{
        margin: 0 29px; 
        
    }
    .team-contents .col-wrap .information{
        padding-left:0;
    }

    .team-contents .position{
        padding-bottom: 8px;
    }

    .team-contents .name{
        padding-top: 12px;
    }
    .team-contents .col-wrap {
        padding: 24px 45px 27px 89px;
        text-align: center;
    }
    footer .l-col .contact-text, footer .l-col .headline a {
        padding-top: 20px;
    }
    footer nav {
        padding-top: 12px;
    }
    .ideology-section .article {
        margin-top: -79px;
    }

    .left-col .left-col-content p{
        margin-top: -55px;
    }
    .content-wrapper {
        padding: 55px 0;   
    }
    .navigation .nav li {
        padding: 0 14px;
    }


@media (max-width: 1023px) {
   
    .banner-text h1{
        max-width:100%;
    }
    .navigation .nav a {
        font-size: 14px;
    }
    .left-col .left-col-content p {
        margin-top: -216px;
        margin-left:-60px;
    }
    .team-contents {
        margin: 24px -50px 11px -95px;
        overflow: hidden;
    }

    footer .l-col, footer .r-col{
        float:none;
        max-width:100%;
    }

    footer .l-col, footer .r-col{
        text-align: center;
    }
    .ideology-section .image {
        left: -123px;
    }

    footer .contacts{
        overflow: hidden;
        margin-top: 33px;
    }
    footer .contacts .footer-icons{
        float:left;
    }
    footer .custom-prop{
        float:right;
    }

    footer .footer-logo{
        padding: 16px 28px 11px 25px;
    }   
    footer .l-col .contact-text, footer .l-col .headline a {
        padding-top: 34px;
    }
}

@media (max-width: 768px) {

h2{
    font-size:28px;
}
.banner .navigation {
    background: red;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display:none;
}

.banner .navigation ul{
    margin-top:100px;
}

.banner .navigation li{
    display:block;
    padding:18px; 
}

.banner .navigation li a{
    font-size:24px;
}

.bannner .navigation #cross{
    visibility:visible;
    position: absolute;
    top: 13px;
    right: 21px;
}
.banner .navigation {
    background: #f8f8f8;   
}

.banner .navigation a{
    color:black;
}
#cross{
    visibility:visible;
    color:black;
    position:absolute;
    top: 15px;
    right: 29px;
    font-size: xx-large;  
}
.banner-text h1{
    padding-top:0;
}
.intro-text .content-wrapper {
    max-width: 91%;
}
.ideology-section .left-col, .ideology-section .right-col{
    float:none;
    width:100%;
}
.left-col .left-col-content p {
    margin-top: 205px;
}
.right-col{
    margin-top:104px;
}    
.ideology-section .left-col-content{
    float:none;
    margin-top:0;
    max-width:100%;
    padding: 0px 20px;
}
.ideology-section .image{
    position:static;
}
.left-col .left-col-content p {
    margin-top: 0;
    margin-left: 0;
    font-size: 24px;
}
.banner-text {
    height: 457px;
}
.banner-text h1 {
    padding-top: 48px;
}
.intro-text .content-wrapper {
    max-width: 100%;
}

.team-information{
    margin:0;
}
.ideology-section .article {
    padding-left: 20px;
}
.team .team-information .article {
    margin-right: 0;
}
.team-information .article h2{
    padding-right: 0;
}
.team-contents{
    display:block;
    margin:0;
}
.team-contents .col{
    float:none;
    max-width: 100%;;
}
.team-contents .col-wrap{
    padding:0 0 0 0; margin-bottom:49px;
}
footer .footer-logo{
    margin-right: 0;
}
footer nav{
    display:none;
}
footer .r-col ul, footer .footer-icons{
    font-size: 22px;
}
footer .contacts .footer-icons {
    float: none;
}
footer .custom-prop{
    float:none;
}
.work .carousel {
    display:block;
}
.work .carousel .image {
    padding: 10px 13px;
}
.team-contents .col .information {
    float: none;
}.team-information .article h2 {
    padding-bottom: 32px;
}
}
}
